@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

:root{--primary-color:#fdba74;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}
hr{margin: 2rem 0rem;}

body{
font-family: 'Quicksand', sans-serif;
margin: 0px;}

.container {padding: 0rem 1rem;
}
.container-centre 
{max-width:600px ;
margin: auto;
}
.link{text-decoration: none;
    box-sizing: border-box;
padding: 0.5rem 1rem;}

.link-primary{
    background-color:var(--primary-color);
color: white;
border-radius: 0.5rem;}

.link-secondary{
color: var(--primary-color);
    border: 1px solid var(--primary-color) ;
    border-radius: 0.5rem;
}

.list-unbulleted-list{
   list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}


.hero{padding:2rem;}
.hero-image{
    max-width: 450px;
    display: block;
    margin: auto;
}
.hero-heading{text-align: center;
    color:var(--dark-gray);
    padding-top: 1rem;
}
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer-heading{font-weight: bold;
    font-size: large;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}



.navigation{
background-color: var(--primary-color);
padding: 1rem;
color: white;
border-bottom-left-radius: 0.5rem;}
 .nav-brand{font-weight:500;}
 .navigation .link{color:white;}
.navigation .link-active{
    font-weight:bold;
}
.nav-brand{
    text-align: center;
}
.navigation ul{text-align: right;}

.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color: var(--off-white);
}